<div class="container-logout-card">
    <mat-card>
        <mat-card-title>Log Out</mat-card-title>
            <mat-card-content>Has salido de tu sesion</mat-card-content>
            <mat-card-actions>
            <button mat-button color="primary" (click)="navigate('login')">
                Volver a entrar
                <mat-icon>login</mat-icon>
            </button> 
            <button mat-button color="primary" (click)="navigate('register')">
                Registrate con otro usuario
                <mat-icon>login</mat-icon>
            </button>
            </mat-card-actions>
    </mat-card>
    
</div>
