<div class="container-fluid">
  <mat-toolbar>
    <div class="container">
      <span>Marujeo's World</span>
    
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button (click)="navigate('dashboard')" #loginButton mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button (click)="navigate('login')" #loginButton mat-menu-item disabled="{{isLogged?'true':'false'}}">
            <mat-icon>login</mat-icon>
            <span>Log In</span>
          </button>
          <button (click)="navigate('logout')" mat-menu-item disabled="{{isLogged?'false':'true'}}">
              <mat-icon>logout</mat-icon>
              <span>Log Out</span>
          </button>
          <button (click)="navigate('register')" mat-menu-item disabled="{{isLogged?'true':'false'}}">
            <mat-icon>app_registration</mat-icon>
            <span>Register</span>
          </button>
          <button (click)="navigate('characters')" mat-menu-item disabled="{{isLogged?'false':'true'}}">
            <mat-icon>portrait</mat-icon> 
            <span>Characters</span>
          </button>
        </mat-menu>
    </div>
  
  </mat-toolbar> 
    <div class="container pt-1 content-components">
    
    <router-outlet></router-outlet>
  </div>
</div>