.form-field-error {
    color: "red";
    font-weight: 500;
    margin-top: -15px;
    font-size: 12px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    &.show {
      height: 20px;
    }
  }
  .validation-required {
    color: #d90000;
    margin-left: 0.2em;
  }
  .form-group {
      margin-bottom: unset;
  }