<div class="container-register-card">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
            <mat-card-content>
            
                <form [formGroup]="registerForm" class="example-form" >
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Mail</mat-label>
                      <input matInput placeholder="type your mail" formControlName="mail">
                      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                    <div class="form-field-error" [ngClass]="{ show: isInvalid(registerForm.controls.mail) }">
                      {{registerForm.controls.mail.touched && registerForm.controls.mail.errors?.required?'Debe introducir mail':'' }}
                      {{registerForm.controls.mail.errors?.email?' El formato del dato es erróneo ':'' }}
                    </div>
                    <div class="separator"></div>
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" placeholder="type your password">
                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                      <div class="form-field-error" [ngClass]="{ show: isInvalid(registerForm.controls.password) }">
                        {{registerForm.controls.password.touched && registerForm.controls.mail.errors?.required?'Debe introducir password':''  }}
                      </div>
                  </form>

            </mat-card-content>

            <mat-card-actions>
            <button (click)="register()" mat-button color="primary">
              <mat-icon>app_registration</mat-icon>
                Create Account
            </button> </mat-card-actions>
    </mat-card>
    
</div>
